.panel
{
	position: absolute;
	padding: 5px 10px 7px 3px;
	translate: 5px 10px;
	background-color: rgb(255,0,138);
	align-items: strecht;
	border-color: rgb(0,255,0);
	background-color: rgb(255,0,0);
}

.action-btn{
	border-radius: 17px;
}

.login-btn{
	border-radius: 10px;
}